html[data-bs-theme="dark"] .bg-light {
    background-color: #333 !important;
}

.preset-data td {
    color: var(--bs-primary);
}

tr.highlight td {
    background-color: #ffffe0 !important;
}

html[data-bs-theme="dark"] tr.highlight td {
    background-color: #44400c !important;
}

